<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('https://ci6.googleusercontent.com/proxy/IesgjTqOanPi0c-Qp0DKCMWrbiXyeyaqJWqDSt45n6PckuG56Ns16MRyhiMhomMpE_WF2Sahxrfz2ehBMTSY_lTSRL9K5c97JNTnaroiryszZCyo39tYMxrf6RjmBZHMYVZup98i7E0qy9nHHKbhBRwVlDn-iQ-sGmDHS86d0LxdiLnoAKY3y9epuwQpCo7LNnbJIVnR-bFOBVKcgjsx8CtmDptsg4mdgjzlg1Dxp1XcVl1cEQ=s0-d-e1-ft#https://scontent-mxp1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/11914171_1633238816916392_7411363599456094795_n.jpg?oh=c68606da1bd2869e6a2034a4f8c9c888&oe=56E1F86E');"></div>
            <div class="carousel-caption">
                <h2>Caption 1</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('https://ci5.googleusercontent.com/proxy/VQwA0lPbjAG0i4WE88i5P8SCoQ7A2UA5zIZNJ_EJhPCtg2Sunu6OT_B3HMMwTm0z4oar9Xj6c_NvoQNxwTMtKCuBihkZyBaS2UcWw3H898GcEAUusZEO6U2rBVlTzXAPiT7yPpeQog0bb_7VkXQOArbgXQNyhQzxLE27xTb1CAdlhuGNxeIdwdd6psHD2rFnES4LUWzeAHOVLzweRyrdH7uu5z-h_aFzP0DfpvlOisGe1OTZ=s0-d-e1-ft#https://scontent-mxp1-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/11953031_1633238363583104_996363340769633763_n.jpg?oh=9069225f5dc74b25fe5712cb98dd287d&oe=56E8F24F');"></div>
            <div class="carousel-caption">
                <h2>Caption 2</h2>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('https://ci5.googleusercontent.com/proxy/JjsDQCcEENywaw491MY00BymDOcofymynQ1ixjNSVi098foaSF4gOrxr-U3llqPhQb6tDHhL8nChc7q2uOc41PsrVSlheUfK0aDo2p-A8KhdayX-RbSd1uUZW1y-J37zh1nXVJM4RhLwJ1hDXqp4ZOf56NWRYV25qgoAuvBxR2eGuGSTntLpEcC3UcgziCsill41-hzaGR9IpVk91Aa6VzKaH7dzphZTjJnltqWWde8I_UvR=s0-d-e1-ft#https://scontent-mxp1-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/12088600_1646960208877586_301936987269320400_n.jpg?oh=510c11e830f98d8ce866867f113c1bc4&oe=56DE9C38');"></div>
            <div class="carousel-caption">
                <h2>Caption 3</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>
